div.text_box p{
	display: auto;
    width: auto;
    height: 50px;
    max-height: 50px;
}

div.container {
    display: none;/**/
    margin: auto;
    position: relative;
    max-width: 1500px;
    max-height: 1000px;
}
